<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Article Index</title>
</head>
<body>
  <table class="table table-dark">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>

    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.title, article %></td>
        <td><%= link_to truncate(article.description, length: 100), article %></td>
        <td><%= link_to "Edit", edit_article_path(article) %></td>
        <td><%= link_to "Show", article_path(article) %></td>
        <td><%= link_to "Delete", article, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </table>
</body>
</html>