<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag "home", media: "all", 'data-turbolinks-track': "reload" %>
    <title>Home</title>
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <h1 id="title">Create an Article</h1>
        <ul class="list">
          <li class="list__item"><%= link_to "Home", root_path %></li>
          <li class="list__item">Blogs</li>
          <li class="list__item">Login/Register</li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Create an Article</h1>
      </br>

      <% if @article.errors.any? %>
        <h3>You have the following Errors: <h3>
        <ul id="error_message">
          <% @article.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <%= form_for @article do |post| %>
        <div class="article_title_area">
          <%= post.label :title %>
          </br>
          <%= post.text_field :title %>
        </div>
        <div class="article_description_area">
          <%= post.label :description %>
          </br>
          <%= post.text_area :description %>
        </div>
        <div class="article_submission_area">
          </br>
          <%= post.submit %>
        </div>
      <% end %>
      
    </main>
  </body>
</html>
