<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      h3 {margin: 0; padding: 0;}
      .article-title {
        font-weight: bold;
      }
      span {
        text-align: left;
      }
    
      .article-list {
        display: flex;
        list-style: none;
      }

      li {
        margin: 5px;
      }

      a {
        color: black
      }

      .list__item a {
        color: white;
      }

      button {
        padding: 3px;
      }
    </style>
    <title>Article Show</title>
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <h1 id="title">Article - <%= @article.id %></h1>
        <ul class="list">
          <li class="list__item"><%= link_to "Home", root_path %></li>
          <li class="list__item"><%= link_to "Blogs", articles_path %></li>
          <li class="list__item">Login/Register</li>
        </ul>
      </nav>
    </header>
    <ul class="article-list">
      <li>Title: <h3 class="article-title"><%= @article.title %></h3></li>
      <li>Description:  <p> <%= @article.description %> </p> <li>
      <button><%= link_to "Edit", edit_article_path(@article) %></button>
    </ul>
  </body>
</html>
