<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Article Show</title>
  </head>
  <body>
    <div class="card" style=<%= @article.description.length > 100 ? "width:50rem;" : "width:18rem;" %>>
      <div class="card-body">
        <h5 class="card-title"><%= @article.title %></h5>
        <p class="card-text"><%= @article.description %></p>
        <%= link_to "Edit", edit_article_path(@article), class: "card-link btn btn-primary" %>
      </div>
    </div>
      <!-- 
        <ul class="article-list">
          <li>Title: <h3 class="article-title"><%= @article.title %></h3></li>
          <li>Description:  <p> <%= @article.description %> </p> <li>
          <button><%= link_to "Edit", edit_article_path(@article) %></button>
        </ul>
      -->
  </body>
</html>
