<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Article Show</title>
  </head>
  <body>
    <div class="container show-container">
      <div class="card" style=<%= @article.description.length > 100 ? "width:50rem;" : "width:25rem;" %>>
        <div class="card-body">
          <h5 class="card-title"><%= @article.title %></h5>
          <div class="subtitle-container">
            <h6 class="card-subtitle mb-2 text-muted">
              <%= gravatar_for @user, size: 55 %>
              &nbsp;
              <%= link_to @user ? "By: #{@user.username}" : "By: Unknown", @user ? user_path(@user) : href = "#" %>
            </h6>
            
          </div>
          <p class="card-text"><%= @article.description %></p>
          <% if logged_in? && @user.username == current_user.username %>
            <%= link_to "Edit", edit_article_path(@article), class: "card-link btn btn-primary" %>
            <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure ?" }, class: "card-link btn btn-danger" %>
          <% end %>
          <%= link_to "View All Articles", articles_path, class: "card-link btn btn-primary" %>
        </div>
      </div>
    </div>
      <!-- 
        <ul class="article-list">
          <li>Title: <h3 class="article-title"><%= @article.title %></h3></li>
          <li>Description:  <p> <%= @article.description %> </p> <li>
          <button><%= link_to "Edit", edit_article_path(@article) %></button>
        </ul>
      -->
  </body>
</html>
