<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Article Show</title>
  </head>
  <body>
    <div class="container show-container">
      <div class="card" style=<%= @article.description.length > 100 ? "width:50rem;" : "width:25rem;" %>>
        <div class="card-body">
          <h5 class="card-title"><%= @article.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= link_to @article.user ? "By: #{@article.user.username}" : "By: Unknown", @article.user ? user_path(@article.user) : href = "#" %></h6>
          <p class="card-text"><%= @article.description %></p>
          <%= link_to "Edit", edit_article_path(@article), class: "card-link btn btn-primary" %>
          <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure ?" }, class: "card-link btn btn-danger" %>
          <%= link_to "View All Articles", articles_path, class: "card-link btn btn-primary" %>
        </div>
      </div>
    </div>
      <!-- 
        <ul class="article-list">
          <li>Title: <h3 class="article-title"><%= @article.title %></h3></li>
          <li>Description:  <p> <%= @article.description %> </p> <li>
          <button><%= link_to "Edit", edit_article_path(@article) %></button>
        </ul>
      -->
  </body>
</html>
