<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag "home", media: "all", 'data-turbolinks-track': "reload" %>
    <title>Home</title>
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <h1 id="title">Home</h1>
        <ul class="list">
          <li class="list__item"><%= link_to "About", about_path %></li>
          <li class="list__item"><%= link_to "Blogs", articles_path %></li>
          <li class="list__item">Login/Register</li>
        </ul>
      </nav>
    </header>
    <main>
      <% Article.all.each do |post| %>
        <section>
          <span>
            <h1>
              <%= link_to post.title, post %> 
            </h1>
          </span>
          <p class="article-text">
            <%= link_to post.description, post %>
          </p>
        </section>
      <% end %>
      
    </main>
  </body>
</html>
